<header>
    <nav>
        <ul>
            <li><a href="/petitions">Petition</a></li>
            <li><a href="/profile/edit">Edit Profile</a></li>
            <li><a href="/signers">Signers</a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
    </nav>
</header>